* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  background: #1c1c1c;
  width: 100%;
}
